doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Classic Page Layout
    link(rel='stylesheet', href='css/main.min.css', attr)
  body
    header
    main
      article
      aside
    footer
    
    